# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
.venv/
.env/
ENV/

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# VS Code / IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
